kg-gen==0.4.0
dspy==2.6.27
litellm==1.60.3
sentence-transformers
scikit-learn
scipy
numpy
pandas
tenacity
tqdm
matplotlib
tabulate
PyYAML
vllm==0.6.3.post1
transformers==4.45.2
lm-format-enforcer==0.10.6
