HYPOTHESIS KIND
{{ hypothesis_kind }}

POLICY
{{ policy_json }}

EVIDENCE SPAN IDS
{{ evidence_span_ids_json }}

PREMISE
<premise>
{{ premise }}
</premise>

HYPOTHESIS
<hypothesis>
{{ hypothesis }}
</hypothesis>
